*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    ;
    gap: 5px;
    grid-template-rows: 100px 500px;
    background-color: black;
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color:black;
}
span{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    flex: 0 0 79%;
}
header > span > a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header > span > a:hover{
    color: rgb(208, 45, 20);
}
i{
    flex: 0 0 10%;
    color: rgb(237, 220, 220);
    display: flex;
    justify-content: end;
}

.span2{
    flex: 0 0 10%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
header > img{
    width: 150px;
}
header > .span2 >i:hover{
    color: rgb(229, 8, 8);
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
main > div{
    display: flex;
    flex: 0 0 33%;
    height: 300px;
    background-color:white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
 main > div > img{
    width: 300px;
    height: 200px;
    background-color: rgba(97, 221, 226, 0.692);
    border-radius: 15%;
}
main > div >h1,h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
